# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[{*.sh,*.py,*.yml,*.conf,Makefile}]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
# 4 space indentation
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
